.title-section
  color: $violet-dark
  font: normal 600 24px/31px $montserrat

.title-block
  color: $violet-dark
  font: normal 600 24px/31px $lora
  position: relative
  padding-bottom: 24px
  display: inline-block
  text-decoration: none
  transition: .3s
  &::after
    content: ''
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    max-width: 140px
    height: 1px
    background-color: $violet-middle
  &::hover
    text-decoration: underline  

.mini-title-block
   font: normal 700 16px/19.5px $montserrat 
   color: $text
   margin-bottom: 18px
   text-transform: uppercase  

.wrapper-button
  text-decoration: none  
  text-align: center  
  font: normal 700 13px/16px $montserrat
  text-transform: uppercase
  border: 1px solid $violet-middle
  display: inline-block
  padding: 14px 16px
  transition: .3s
  &:hover
    border: 1px solid $violet
    background-color: $violet-soft  

.header-page
  margin: 10px 0 24px
  .breadcrumbs
    width: 100%
    display: flex
    margin-bottom: 34px
    li
      list-style-type: none
      padding: 0 12px
      a
        text-decoration: none
        position: relative
        font: normal 700 10px/12px $montserrat
        text-transform: uppercase
        color: $violet
        transition: .3s
        &:hover
          color: $violet
        &::before
          content: '/'
          position: absolute
          top: 0
          left: -13.5px
    li:first-child
      padding: 0 12px 0 0 
      a
        &::before
          display: none
    li:last-child
      a
        color: $gray-middle      
  .title-search
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start
    &__info
      h1
        color: $violet-dark
        font: normal 700 24px/31px $lora
        padding-bottom: 24px
        position: relative
        &::before
          content: ''
          position: absolute
          bottom: 0
          left: 0
          width: 100%
          max-width: 140px
          min-width: 140px
          height: 1px
          background-color: $violet-middle   
      .date
        color: $gray-middle
        font: normal 600 12px/15px $montserrat
        margin-bottom: 18px
      .social-link-list
        padding: 0  
    .sidebar__search
      max-width: 429px
      min-width: 429px
      padding: 0
      margin: 0   
      .search-form 
        input[type=search] 
          border: 1px solid $violet-middle
  .title-search-one-news
    h1
      padding-bottom: 9px
      &::before
        display: none 

.list-news-pagination
  width: 100%
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: flex-start
  margin-top: 64px
  position: relative
  &__news
    width: calc(65% - 48px)
    margin-right: 48px
    .list-news
      .one-news
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-items: stretch
        margin-bottom: 32px
        .one-news-text
          text-decoration: none
          padding: 15px
          
          .title
            padding-bottom: 12px
            font: normal 700 16px/19.5px $montserrat
            color: $text
            text-transform: uppercase
            transition: .3s
          .date
            padding-bottom: 15px
            font: normal 600 12px/15px $montserrat
            color: $gray-middle   
          .text
            font: normal 500 14px/22.4px $montserrat
            color: $text  
            overflow: hidden
            text-overflow: ellipsis
            display: -webkit-box
            -webkit-line-clamp: 5
            -webkit-box-orient: vertical
          &:hover
            background-color: #f7eeff
            .title
              color: $violet    
        img
          width: 100%
          max-width: 321px
          display: flex
  .fixed-information
    width: 35%
    position: sticky
    top: 0
    right: 0  
    &__wrapper
      .img-info-btn
        background-position: center
        background-repeat: no-repeat
        background-size: cover
        padding: 30px 38px 44px
        margin-bottom: 12px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        position: relative
        font: normal 500 14px/22px $montserrat
        color: $bgc
        p
          color: $bgc
          z-index: 1
        a
          display: inline-block
          margin-top: 24px
          padding: 16px
          font: normal 700 13px/16px $montserrat
          background-color: $bgc
          border: 1px solid $violet
          text-decoration: none
          text-transform: uppercase
          color: $text
          z-index: 1
          transition: .3s
          &:hover
            background-color: $violet
            color: $bgc
        &::after
          content: ''
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
          background-color: rgba(0, 0, 0, .2)
      .phone-info
        border: 16px solid $violet-middle
        padding: 30px  
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: flex-start
        p:first-child
          font: normal 700 16px/20px $montserrat
          color: $text
          text-transform: uppercase
        a:nth-child(2)
          display: inline-block
          text-decoration: none
          color: $violet-dark
          font: normal 600 51px/64px $lora 
          margin: 20px 0 24px
          span
            font: normal 600 16px/20px $lora 
        p:nth-child(3) 
          font: normal 400 12px/17px $montserrat
          color: $icon
          span
            display: inline-block 
        a:nth-child(4)    
          display: inline-block
          text-decoration: none
          background-color: $bgc
          padding: 14px 16px
          margin: 24px auto 0
          text-transform: uppercase 
          font: normal 700 13px/16px $montserrat
          color: $icon
          border: 1px solid $violet-middle
          transition: .3s
          &:hover
            color: $bgc
            background-color: $violet-middle
  
.pagination
  margin-bottom: 80px
  .pagination-number
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    li
      margin-right: 8px
      text-align: center
      background-color: $bgc
      border-radius: 100%
      width: 32px
      height: 32px
      display: flex
      justify-content: center
      align-items: center
      transition: .3s
      a
        text-decoration: none
        font: normal 700 16px/20px $montserrat
        color: $violet
        .icon
          fill: #e0e0e0
          width: 16px
          height: 10px
          transition: .3s
      &:hover
        .icon
          fill: $violet    
      &:first-child
        margin-right: 45px
        background-color: $bgc
        &:hover
          background-color:  transparent
        a
          .icon
            transform: rotate(180deg)
      &:last-child
        margin-left: 45px
        background-color: $bgc
        &:hover
          background-color:  transparent
      &:hover
        background-color: $violet-middle 
        a
          color: $bgc  
    .active
      background-color: $violet
      &:hover
        a
          color: $bgc
      a
        color: $bgc

